.addButton{
    position: absolute;
    margin-left: 7pc;
    padding-bottom: 1pc;
     padding-top: 1pc;
     padding-left: 2pc;
     padding-right: 2pc; 
}

.resetButton{
    position: absolute;
    margin-left: 18pc;
    padding-bottom: 1pc;
     padding-top: 1pc;
     padding-left: 2pc;
     padding-right: 2pc;
}

.backButton{
    position: absolute;
    margin-left: 2pc;
    padding-bottom: 1pc;
     padding-top: 1pc;
     padding-left: 2pc;
     padding-right: 2pc;
}

.header{
    text-align: center;
}
 
.firstdiv{
     padding-bottom: 1pc;
     padding-top: 1pc;
     padding-left: 2pc;
     padding-right: 2pc;    
}

.secdiv{
     padding-bottom: 1pc;
     padding-top: 1pc;
     padding-left: 2pc;
     padding-right: 2pc;
     text-align: left;
}

.add{
    position: absolute;
    margin-left: 20pc;
    padding-bottom: 1pc;
     padding-top: 1pc;
     padding-left: 2pc;
     padding-right: 2pc;

}