
.Name {
 
 padding-bottom: 1px;
 padding-top: 1px;
 padding-left: 1px;
 padding-right: 1px;
}

.Age {

 padding-bottom: 1px;
 padding-top: 1px;
 padding-left: 1px;
 padding-right: 1px;
}
.num {
 
 padding-bottom: 1px;
 padding-top: 1px;
 padding-left: 1px;
 padding-right: 1px;  
}

.id {
 padding-bottom: 1px;
 padding-top: 1px;
 padding-left: 1px;
 padding-right: 1px; 
}

.foredit{
    padding-left: 45pc;  
    visibility : hidden; 
    margin-left: 45pc;
}

.addButton{
    position: absolute;
    padding-bottom: 1pc;
     padding-top: 1pc;
     padding-left: 2pc;
     padding-right: 2pc; 
}

.resetButton{
    position: absolute;
    margin-left: 10pc;
    padding-bottom: 1pc;
     padding-top: 1pc;
     padding-left: 2pc;
     padding-right: 2pc;
}

.addContactButton{
    position: absolute;
    margin-left: 35pc;
    padding-bottom: 1pc;
    padding-top: 1pc;
    padding-left: 2pc;
    padding-right: 2pc;
}

.visible {
    visibility: visible;
}

.makeVisible{
    visibility : visible ;
}

.header{
    text-align: center;
}
 
.firstdiv{
     padding-bottom: 1pc;
     padding-top: 1pc;
     padding-left: 2pc;
     padding-right: 2pc; 
     visibility: hidden;   
}

.secdiv{
     padding-bottom: 1pc;
     padding-top: 1pc;
     padding-left: 2pc;
     padding-right: 2pc;
     text-align: left;
     
}

.Card {
 background-color: gray;
 padding-bottom: 0.5pc;
 padding-top: 0.5pc;
 padding-left: 3pc;
 padding-right: 3pc;
 margin-left: 8pc;
 text-align: left;
 border: 1px solid white;
 position: absolute;
}

.Deletebutton {
    padding-bottom: 1pc;
    padding-top: 1pc;
    padding-left: 2pc;
    padding-right: 2pc;
    margin-left: 8pc;
    position: absolute;
}
.Editbutton {
    margin-left: 45pc;
    text-align: right;
    padding-bottom: 1pc;
    padding-top: 1pc;
    padding-left: 2pc;
    padding-right: 2pc; 
    
}
.Cards{
    border: 1px solid black;
    background-color: black;
    padding: 5px;
    margin: 5px;
    padding-right: 45pc;
    /*margin-bottom: 1pc;
    margin-top: 1pc;*/
    margin-left: 1pc;
  /*  margin-right: 1pc;*/
}